<% layout('../layout/layout') -%>
<% include ../layout/header.ejs %>

<div class="row">
<div class="col-lg-12">
    <h3 class="pull-left">Media</h3>
    <a href="/media" class="btn btn-success pull-right"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</a>
</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <hr />
    </div>
</div>

<div class="row marketing">

	<% if(!media.file) { %> 
		<form action="" method="post" enctype="multipart/form-data" id="upload-media" class="dropzone">
			<input type="hidden" name="id" value="<%= id %>" />
		</form>
	<% } %>
	
	<form action="" method="post" class="top-30">
	  <input type="hidden" name="id" value="<%= id %>" />
	  <div class="form-group">
	    <label for="nameMedia">Name</label>
	    <input type="text" class="form-control" id="nameMedia" placeholder="Name" value="<%= media.title ? media.title : '' %>" name="title">
	  </div>
	  <div class="form-group">
	    <label for="forDescription">Description</label>
	    <textarea class="form-control" rows="3" name="description" id="forDescription" placeholder="Description"><%= media.description ? media.description : '' %></textarea>
	  </div>
	  
		<div class="radio">
		  <label>
		    <input type="radio" name="visibility" id="visibility1" value="1" <%= media.visibility == 1 || !media.visibility ? 'checked' : ''%>> Public
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="visibility" id="visibility2" value="2" <%= media.visibility == 2 ? 'checked' : ''%>> Private
		  </label>
		</div>

	  <button type="submit" class="btn btn-success btn-lg" id="submitSave" disabled="disabled">Save</button>
	</form>
</div>
